# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log
*.lp

# OS files
.DS_Store
Thumbs.db
/Inputs/
/Discard/
results_*/
run_*
config/config.ini
.codex-test-deps/
!OptimizedScenarios/run_individual_optimization.py
!OptimizedIndividualScenarios/run_individual_opt_boiler.py
results/
